<% content_for :title do %>Medical Alert Dashboard
<% end %>
<script type='text/javascript'>
    $(function() {
        //Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":1}]')
        Dashing.numColumns = 6
    });
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total-sales" data-view="Number" data-title="Total sales" data-moreinfo="today"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total-inbound-sales" data-view="Number" data-title="Inbound sales" data-moreinfo="today"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="total-outbound-sales" data-view="Number" data-title="Outbound sales" data-moreinfo="today"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="total-post-date-sales" data-view="Number" data-title="Postdate sales" data-moreinfo="today"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="sales-graph" data-view="Graph" data-title="Week sales" data-graphtype="area"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total-inbound-calls" data-view="Number" data-title="Inbound calls" data-moreinfo="today"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="total-outbound-calls" data-view="Number" data-title="Outbound calls" data-moreinfo="today"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="confirmed-this-week-sales" data-view="Number" data-title="Confirmed sales" data-moreinfo="this week"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="unconfirmed-this-week-sales" data-view="Number" data-title="All sales" data-moreinfo="this week"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="confirmed-past-week-sales" data-view="Number" data-title="Confirmed sales" data-moreinfo="past week"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="unconfirmed-past-week-sales" data-view="Number" data-title="All sales" data-moreinfo="past week"></div>
    </li>



  </ul>
</div>